input{
   width: 300px;
   margin: 0 auto;
   display: block;
   font-size: 15px;
   padding: 10px;
   font-weight: 700;
   border-radius: 15px;
   border: 1px solid gray;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.fondo{
   background-color:rgb(83, 83, 83);
}
 h1{
   text-align: center;
 }